<h1>Listing businesses</h1>

<table class="zebra-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @businesses.each do |business| %>
  <tr>
    <td><%= business.name %></td>
    <td><%= business.description %></td>
  </tr>
<% end %>
</table>
