<div class="page-header"><h1>Listing businesses</h1></div>

<div class="row">
  <div class="span16">
    <table id="businesses" class="zebra-striped">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>

      <% @businesses.each do |business| %>
        <tr>
          <td class="span3"><%= link_to business.name, business %></td>
          <td class="span13"><%= business.description %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<script type="text/javascript">
</script>
